*{
box-sizing: border-box;
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-size: 16px;
line-height: 1.4;
}
#firstMain{
height: 600px;
width: 300px;
display: flex;
gap: 5px;
padding: 5px;

}


/* #firstArti{
    min-width:120px;
    height: 250px;
    padding:5px 5px 0px 5px;
    color: white;
    background-color: black;
    margin-left: 5px;
    position: sticky;
    top: 0;
}

#firstArti :first-child{
display: flex;
width: 100%;
align-items: center;
} */
#imagery{
    width:35px;
    height: 30px;
    background-color:black;
    
}

#backDivy{
    margin-top: 10px;

 
}
#backDivy a img {
    height: 30px;
    
    
}
#imt{
    background-color:white;
    border-radius: 7px;
    border: 5px solid black;
    border-style: outset;
    transition: all 0.3s linear;
}
#imt:hover{
    scale: 0.9;
}
#backDivy a{
text-decoration: none;
color: white;

}

input{
    margin: 5px 0px;
}
#cate1{
    margin-top: 15px;
}
h3{
    text-align: center;
    text-decoration: underline;
    margin: 10px 0px;
    color: gray;
    
}


#second{
    width: 100%;
}
/* .color{
    background-color:black!important;
    color: white !important ;
    border-color: yellow;
z-index: 3;
} */
#videox{
    margin: 5px 10px 5px 0px;
}


.temz{
    cursor:pointer;
  }
  

 
  
.msg-box {
  border-radius: 50%;
  background: white;
  overflow: hidden;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.7s ease-in-out;
  transform: translate(-50%, -50%);
  will-change: contents;
  display: grid;
  grid-gap: 15px;
  color: #e7739a;
  box-sizing: border-box;
  padding: 10px;
}


 label {
    transform: translateY(4px);
  }
  
 
  
  .butt {
    border-radius: 50%;
    background: blue;
  cursor:pointer;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 20%;
    transition: all 0.5s cubic-bezier(0.63, 0.18, 0.83, 0.67);
    z-index: 3;
    left: 5%;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(51, 48, 48);
    transform: translate(-100%, -50%);
    box-shadow: 4px 3px 4px rgba(48, 47, 47, 0.459);
  }


  .temz:hover {
    color: black;
  }
  .btn-wap {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all 1s;
  }
  
  .one {
    top: 100%;
    left: -130%;
    transition: top 0.5s, left 0.5s, transform 0.7s linear 0.1s;
    font-weight: bolder;
    font-size: 40px;
    transform: translate(-50%, -50%) rotate(0deg) scale(0);
    transform-origin: center;
  }
  .one-move {
    top: 50%;
    transition: top 1s, left 1s, transform 0.4s ease 0.5s;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) scale(1);
  }
  .two {
    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: center;
    transition: all 0.8s ease;
  }
  
  .send {
    top: 30%;
    left: 130%;
  }
  .move {
    left: 50%;
    transform: translate(50%, 50%);
    top: 83%;
  }
  .resize {
    width: 200px;
    height: 600px;
    position: relative;
    left: 120px;
    border-radius: 10px;
    background-color: red;
    box-shadow: 5px 2px 10px black;
    box-sizing: border-box;

  }
  .resize > *{
      padding: 0px;
      margin: 0px;

  }
  .mss {
    border-bottom: 1px solid gainsboro;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: rgb(122, 119, 119);
    /* transform: translateY(5px); */
    display: inline-block;
    /* opacity: 0; */
    background-color:orangered;
    padding: 0px;
    margin: 0px;
    transition: all 0.5s ease-in-out 0.4s;
  }
  input{
    transform: translateY(4px);
  }
  .mss-show {
    opacity: 1;
    transform: translateY(0px);
  }
  .temz {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .itmshow {
    opacity: 1;
  }
  .btn-wap {
    overflow: hidden;
  }
  .effect {
    position: absolute;
    transform: translate(-10%, -10%) scale(0);
    top: 10%;
    left: 10%;
    border: 6px solid rgba(255, 255, 255, 0.37);
    height: 100%;
    border-radius: 50%;
    width: 100%;
    transition: opacity 0.5s ease 0.4s, transform 0.5s;
  }
  .effectshow {
    transform: translate(-10%, -10%) scale(1.3);
    opacity: 0;
  }
  

#bodex {
  background: url(../media/word.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-blend-mode:overlay;
  height: 50vh;
  border:2px  solid #34b9be;
  /* border-inline-color: blac k; */
display: flex;
align-items: center;
justify-content: center;
z-index: 1000000;
}
/* main wrapper and its layout */
.wrappier {
  border-radius: 30px;
  background:transparent;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.281);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5;
  position: relative;
  /* opacity: 0.99; */
}
.itemize {
  cursor: pointer;
}
.linee {
  width: 20px;
  height: 3px;
  background:#34b9be;
  margin-top: 3px;
  border-radius: 5px;
  opacity: 0.7;
  transition: all 0.2s;
}
.linee1 {
  width: 15px;
  transform: translateX(5px);
}
.linee1::before {
  content: "";
  display: block;
  transform: translateX(-5px);
  width: 3px;
  height: 3px;
  background: #d30186;
  transition: width 0.2s ease 0.1s, transform 0.2s;
}
.linee3::after {
  content: "";
  display: block;
  transform: translateX(17px);
  width: 10px;
  height: 3px;
  background: #d30186;
  transition: width 0.2s ease 0.1s;
}
.linee3 {
  width: 13px;
}
.gallerys {
  display: grid;
  grid-template-columns: repeat(3, 5px);
  grid-auto-rows: 5px;
  grid-gap: 6px;
  transform: translateY(3px);
}
.dot {
  border: 1px solid #34b9be;
  border-radius: 50%;
}
.add {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: #34b9be;
  border: none;
  position: relative;
  z-index: 4;
  transition: all 0.3s ease;
  outline: none;
}
.close {
  position: relative;
  left: 35%;
  z-index: 4;
  top: 50%;
}
.line {
  position: absolute;
  width: 10px;
  height: 2px;
  background:#d30186;
  transition: all 0.2s;
}
.line1 {
  transform: rotate(0deg);
}
.line2 {
  transform: rotate(90deg);
}
.search {
  position: absolute;
  top: 0;
  left: 4%;
  z-index: 0;
  width: 0px;
  height: 38px;
  border-radius: 30px;
  border: none;
  color: white;
  background: #d30186;
  box-sizing: border-box;
  padding-left: 35px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: none;
}
::placeholder {
  font-weight: bold;
  color: white;
}
.circle {
  width: 38px;
  height: 38px;
  background: #34b9be;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.5s;
}

.nav-items {
  width: 38px;
  height: 38px;
  background: #34b9be;
  opacity: 0.7;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.212);
  transform: scale(0);
  transition: transform 0.1s cubic-bezier(0.23, -0.47, 0.58, -0.63);
}
.nav-items:hover {
  transform: scale(1.1);
  transition-timing-function: 0.1s;
}
.imgaine{
  width: 20px;
  height: 15px;
}
.items1 {
  top: -100%;
  left: 5%;
}
.items2 {
  top: -50%;
  left: -23%;
  transition-delay: 0.1s;
}
.items3 {
  top: 80%;
  left: -23%;
  transition-delay: 0.2s;
}
.items4 {
  top: 130%;
  left: 5%;
  transition-delay: 0.3s;
}
.box {
  width: 100%;
  position: absolute;
  top: 110%;
  left: 0;
  height: 0px;
  overflow: hidden;
  background-color:transparent;
  display: grid;
  grid-gap: 10px;
  transition: height 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
  z-index: 1000;
}
.box-line {
  width: 100px;
  height: 20px;
  background: #34b9be;
  border-radius: 10px;
  opacity: 0;
  z-index: 0;
  transition: opacity 0s;
  padding-left: 10px;
}
.box-line:nth-child(even) {
  width: 130px;
}
.box-line-show:last-child{
  width: 180px;
}
.effecty {
  z-index: 3;
  border-radius: 50%;
  width: 200vmax;
  height: 200vmax;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: #d30186;
  transition: transform 0.4s;
}
/* toggle classes */
.box-show {
  height: 150px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.226);
  padding: 10px;
  transition-duration:0.2s;
}
.box-line-show {
  opacity: 1;
  transition-duration:.1s;
}


.box-line > a {
  color:#d30186;
  text-decoration: none;
}
.box-line > a:hover{
  color:darkslategray;
}
/* .color {
  background: #34b9be;
} */
.show-menu {
  transform: scale(1);
  transition: transform 0.5s cubic-bezier(0.23, -0.47, 0.58, -0.63);
}
.go {
  transform: translateX(-125px);
}
.search-focus {
  width: 180px;
  left: 20%;
  top: 1%;
  height: 38px;
  background:#d30186  ;
}
.move {
  transform: rotate(45deg);
}
.mov {
  transform: rotate(-45deg);
}

.big {
  transform: translate(-50%, -50%) scale(1);
}
/* hover effect */
.menu:hover .linee1 {
  width: 10px;
  transform: translateX(0px);
}
.menu:hover .linee1::before {
  width: 0px;
  transform: translateX(0px);
}
.menu:hover .linee3 {
  width: 15px;
}
.menu:hover .linee3::after {
  content: "";
  display: block;
  transform: translateX(17px);
  width: 3px;
  height: 3px;
  background: #34b9be;
  transition: width 0.2s ease 0.1s;
}
.gallerys:hover .dot1 {
  animation: jump 0.4s ease 1;
}
.gallerys:hover .dot2 {
  animation: jump 0.4s ease 0.1s 1;
}
.gallerys:hover .dot3 {
  animation: jump 0.4s ease 0.2s 1;
}
.gallerys:hover .dot4 {
  animation: jump 0.4s ease 0.3s 1;
}
.gallerys:hover .dot5 {
  animation: jump 0.4s ease 0.4s 1;
}
.gallerys:hover .dot6 {
  animation: jump 0.4s ease 0.5s 1;
}



.wavyHeading {
  position: relative;
  top: -30px;
}

.wavyHeading h1 {
  font-size: 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family:cursive;
  font-weight: 900;
  text-shadow: 0px 2px 5px #373b44;
}

.wavyHeading h1:nth-child(1) {
  color: #e7739a;
  -webkit-text-stroke: 2px #d30186;

}

.wavyHeading h1:nth-child(2) {
  color: #34b9be;
  animation: animate1 5s ease-in-out infinite;
}


@keyframes animate1 {

  0%,
  100% {
    clip-path: polygon(0% 10%, 10% 30%, 20% 30%, 40% 10%, 50% 30%, 60% 30%, 80% 10%, 100% 30%, 100% 100%, 0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%, 0% 60%);
  }
}







@keyframes jump {
  50% {
    transform: translateY(-15px);
    border-color: #34b9be;
  }
  100% {
    transform: translateY(15px);
    border-color: rgb(119, 118, 118);
  }
}
.close {
  width: 10px;
}

  


@media (min-width:300px) and (max-width:768px){
    #videox{
        width: 100%;
    }
    .wrappier{
      width: 700px ;
    }
   
}
@media (min-width:769px)  { 
  .wrappier{
    width: 400px ;
    height: 70px; 
  }
}
